__pycache__
venv
config.py
.vscode
node_modules
package-lock.json
config.js
app.db
migrations
words.txt
static

.ipynb_checkpoints

data.sqlite
.idea
cache.sqlite

kata/advent_of_code/2022/data/
a.out
