{% extends "base.html" %}

{% block content %}
  <form action = "{{ url_for('uploader') }}" method = "POST"
  enctype = "multipart/form-data">
    <input type = "file" name = "file" />
    <input type = "submit"/>
  </form>

  <ul>
    {% for video in videos %}
    <li>
      {{ video }}
      <a href="{{ url_for('video', title=title) }}">View</a><a href="{{ url_for('delete', title=video.title) }}">Delete</a>
    </li>

    {% endfor %}
  </ul>


<p>
  {% if title %}
    <div>New Title: {{ title }}</div>
  {% else %}

  {% endif %}

  {% for mess in get_flashed_messages() %}
    {{ mess }}
  {% endfor %}
  <form method="POST">
    {{ form.hidden_tag() }}
    {{ form.title.label }}{{ form.title(value=title) }}
    {{ form.submit() }}

  </form>

</p>
{% endblock %}
